<ion-header>
  <ion-toolbar>
    <ion-title>Coast Guard</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img src ="https://upload.wikimedia.org/wikipedia/commons/1/10/Irish_Coastguard_Helicopter_RNLI_Rescue_Demonstartion.jpg">
<p>The Irish Coast Guard (IRCG; Irish: Garda Cósta na hÉireann  is part of the Department of Transport of Ireland.</p>
<p> The primary roles of the Coast Guard include maritime safety and search and rescue. The Irish Marine Search and Rescue Region (IMSRR)[2] is the area over which the Coast Guard has responsibility.
  [3] This area is bordered by the UK Search and Rescue Region.</p>
</ion-content>
<ion-content >
  <p>Contact details Incase of an Emergency:</p>
</ion-content>