<ion-header>
  <ion-toolbar>
    <ion-title>Civil Defence</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Dublin_Civil_Defence_Collecting_For_Haiti.jpg">
<p>Civil Defence Ireland (Irish: Cosaint Shibhialta na hÉireann) is the national civil defence organisation of Ireland. It is a statutory agency of the Irish Department of Defence and is administered by local authorities. It was established in 1951 in response to the threat of nuclear disaster posed by the atomic bomb following World War II. Today it is an emergency response and rescue agency whose purpose is to provide aid, assistance and relief in times of emergency or natural disaster. It may also support primary emergency response agencies namely An Garda Síochána, HSE National Ambulance Service, and local authority fire services when requested. Civil Defence Ireland consists almost entirely of volunteers, numbering 4500 as of February 2019.[1]</p>
</ion-content>
<ion-content >
  <p>Contact details Incase of an Emergency:</p>
</ion-content>