<ion-header>
  <ion-toolbar>
    <ion-title>RNLI</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="logo">
<img  src="https://upload.wikimedia.org/wikipedia/commons/3/39/Rnli_flag_bigger.jpg">
<p>The Royal National Lifeboat Institution (RNLI) is the largest charity that saves lives at sea around the coasts of the United Kingdom, the Republic of Ireland, the Channel Islands, and the Isle of Man, as well as on some inland waterways. It is one of several lifeboat services operating in the same area.

  Founded in 1824 as the National Institution for the Preservation of Life from Shipwreck, soon afterwards becoming the Royal National Institution for the Preservation of Life from Shipwreck, under the patronage of King George IV. On 5 October 1854, the Institution’s name was changed to its current name, and in 1860 was granted a Royal Charter.
  
  The RNLI is a charity in the UK and in the Republic of Ireland. Queen Elizabeth II is Patron. The RNLI is principally funded by legacies (65%) and donations (28%), with the remainder from merchandising and investment. Most of the members of its lifeboat crews are unpaid volunteers.</p>
</ion-content>
<ion-content >
  <p>Contact details Incase of an Emergency:</p>
</ion-content>