#container {
  text-align: center;

  position: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 25px;
  line-height: 26px;
  
}
.list {
  width: 30%;
  min-width: 270px;
  font-size: 25px;
  
}
#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #aa0505;

  margin: 0;
}

#container a {
  text-decoration: none;
}