<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Emergency Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ul>
    <li [routerLink]="['/lifeboats']" routerDirection="forward">RNLI</li>

    <li [routerLink]="['/coastguard']" routerDirection="forward">CoastGuard</li>

    <li [routerLink]="['/civildefence']" routerDirection="forward">Civil Defence</li>
    
    <li [routerLink]="['/garda']" routerDirection="forward">Garda Siochana</li>
  </ul>
  
</ion-content>
