<ion-header>
  <ion-toolbar>
    <ion-title>Garda Siochana</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src ="https://upload.wikimedia.org/wikipedia/commons/9/9d/Badge_of_An_Garda_S%C3%ADoch%C3%A1na.svg">
  <p>An Garda Síochána  meaning "the Guardian of the Peace"), more commonly referred to as the Gardaí  or "the Guards", is the national police service of the Republic of Ireland. The service is headed by the Garda Commissioner who is appointed by the Irish Government. Its headquarters are in Dublin's Phoenix Park.

    Since the formation of the Garda Síochána in 1923, it has been a predominantly unarmed force, and more than three-quarters of the force do not routinely carry firearms.[8] As of 31 December 2019, the police service had 14,708 sworn members (including 458 sworn Reserve members) and 2,944 civilian staff.[2] Operationally, the Garda Síochána is organised into four geographical regions: the East, North/West, South and Dublin Metropolitan Regions.[5]
    
    The force is the main law enforcement agency in the state, acting at local and national levels. Its roles include crime detection and prevention, drug enforcement, road traffic enforcement and accident investigation, diplomatic and witness protection responsibilities. It also provides a community policing service.</p>
</ion-content>
<ion-content >
  <p>Contact details Incase of an Emergency:</p>
</ion-content>